:root {
	--primary-accent: #4f29b9;
	--primary-dark: #232323;
	--secondary-accent: #6DD5FA;
	--dark: #000000;
	--light: #ffffff;

	--accent-1: #ff848f;
	--accent-1-accent: #2980B9;
	--accent-1-dark: #eb485d80;

	--accent-2: #ff4059;
	--accent-2-dark: #f0455a;

	--grey-100: #c4c4c4;
	--grey-200: #797979;
	--grey-300: #e4e4e4;
	--grey-400: #f0f4f9;
	--grey-500: #bbc9d7;
}
